[project]
	description = A simple poker game with gui.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/David Pérez Cabrera (dperezcabrera)
[access "refs/for/refs/*"]
	read = group user/David Pérez Cabrera (dperezcabrera)
	push = group user/David Pérez Cabrera (dperezcabrera)
	label-Code-Review = -2..+2 group user/David Pérez Cabrera (dperezcabrera)
	label-Verified = -1..+1 group user/David Pérez Cabrera (dperezcabrera)
	rebase = group user/David Pérez Cabrera (dperezcabrera)
	removeReviewer = group user/David Pérez Cabrera (dperezcabrera)
	submit = group user/David Pérez Cabrera (dperezcabrera)
[access "refs/heads/*"]
	read = group user/David Pérez Cabrera (dperezcabrera)
	create = group user/David Pérez Cabrera (dperezcabrera)
	push = +force group user/David Pérez Cabrera (dperezcabrera)
	pushMerge = group user/David Pérez Cabrera (dperezcabrera)
[access "refs/tags/*"]
	push = group user/David Pérez Cabrera (dperezcabrera)
	push = +force group user/David Pérez Cabrera (dperezcabrera)
